*{
	margin: 0;
	padding: 0;
}

body{

}

main{
	background: white;
	margin: 120px auto 0;
	padding: 10px;
	text-align-last: justify;
	max-width: 400px;
}

table{
	border-collapse: collapse;
	background: #42C0E6;
	display: inline-block;
	min-width: 160px;
}

table:first-child{
	box-shadow: -2px 2px 15px 2px rgba(17, 61, 73, 0.7);
}

table:last-child{
	box-shadow: 2px 2px 15px 2px rgba(17, 61, 73, 0.7);
}

td{
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}

.boat-show{
	background: rgb(7, 61, 73);
}