*{
	margin: 0;
	padding: 0;
}

body{

}

main{
	background: white;
	margin: 120px auto 0;
	padding: 10px;
	text-align-last: justify;
	max-width: 400px;
}

table{
	border-collapse: collapse;
	background: #42C0E6;
	display: inline-block;
	/* margin:  0 50px; */
	min-width: 160px;
}

td{
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}